.catTitle {
  color: #53c28b;
  text-transform: capitalize;
}

.item {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.imgContainer {
  background-color: red;
  width: 50%;
  width: 500px;
  height: 500px;
  position: relative;
}

.img {
  object-fit: cover;
}

.content {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}